@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-app-off-white {
  background-color: #dacdb9;
}

.text-app-off-white {
  color: #dacdb9;
}

.bg-app-leaves {
  background: url(/assets/images/palm-top.svg) no-repeat;
  background-color: #ebf1e3;
  background-position: center top;
  background-size: contain;
}

.footer {
  background: url(/assets/images/palm-bottom.svg) no-repeat;
  background-color: #192314;
  color: white;
  background-position: center bottom;
  background-size: contain;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
